* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 50px 100px 10px 100px;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  header { 
    display: block; 
    justify-content: center;
  }

  header h1 {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(162, 80%, 16%);
  }

  header p {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
  }

#start-quiz {
    padding: 10px; 
}

#start-button-container {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 8em; 
}

#questions {
    display: block;
    padding-top: 15px; 
    padding-bottom: 15px; 
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
}

#answers-buttons { 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


